.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1; /* Set your background color */
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #333; /* Set your text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Add a transparent border initially */
}

/* Move "Recept feltöltés" and the username menu to the right */
.navbar li.upload,
.navbar li.login {
    float: right;
}

/* Add styles for the dropdown menu */
.dropdown-btn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.navbar li.dropdown:hover .dropdown-content {
    display: block;
}   