body {

    font-family: Impact;
    background-repeat: repeat;
    background-image: url(cooking.jpg);
    
}

.menu
{
        margin: -35px -33px -70px -34px;
        padding: 40px 0;
        border: solid 5px #2e75b6  ;
        border-radius: 0.5rem;
        background-image: linear-gradient(to top left,#9dc3e6 0%, #2e75b6 100%);
        
        
        color:#9dc3e6
}

#oldal {
   
    position: relative;
    z-index: 0;
    background-color: white;
    width: 55vw;
    height: 90vw;
    margin-left: 20vw;
    padding: 2vw;
    border-radius: 0.5rem;        

}

.nagy
{
    margin:  ;
    padding: 9px ;
    height: 50px;
    
}

.kereso
{
   
    display: inline-block;
    padding: 3px 90px 5px 30px;
    border: solid 2px rgb(46, 117, 182);
    border-radius: 0.5rem;
        font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(243, 238, 235) ;
}

.belepes
{
    
    display: inline-block;
    margin-top: 40px;
    margin-left: -0.7vw;
    padding: 4px 60px ;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px  rgb(46, 117, 182);
    border-radius: 0.5rem;
    background-color: rgb(243, 238, 235) ;
    color: black; 
  
    
}

.belepes:hover
{
    background: rgb(235, 225, 218);
    color:rgb(46, 117, 182);
}
.regisztracio
{
    
    display: inline-block;
    margin-left: 1vw;
    padding: 4px 40px ;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px  rgb(46, 117, 182);
    border-radius: 0.5rem;
    background-color: rgb(243, 238, 235) ;
    color: black;
   
    
}
.regisztracio:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182);
}

.receptfel
{
        display: inline-block;
        margin-left: 1vw;
        padding: 4px 40px;
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;
        border: solid 2px  rgb(46, 117, 182);
        border-radius: 0.5rem;
        background-color: rgb(243, 238, 235) ;
        color: black;

}

.receptfel:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182);     
}



.kateg
{
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase; 
        color: black;
        font-size: 20px; 
        margin: 90px 45px 30px 10px;
        margin-left: -15px;
        padding: 8px 1px 7px 1px;
        width: 196px ;
        background: rgb(243, 238, 235);
        border: solid 2px rgb(243, 238, 235);
        border-radius: 0.2rem;
        text-align: center;
}

.foetel,
.levesek,
.salatak,
.sutemenyek,
.tortak
{
        display: inline-block;
        margin-left: -15px;
        padding: 7px 0.1px;
        width: 196px ;
        border: rgb(245, 242, 240) solid 3px;
        border-radius: 0.2px;
        text-align : center;
        background: rgb(247, 245, 245);
        font-family: 'depotlight';
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
}

.foetel,
.levesek,
.salatak,
.sutemenyek,
.tortak

{
        color: black; 
        font-family: 'Times New Roman', Times, serif;
        
}

.foetel:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182);
}

.levesek:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182);
}

.salatak:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182);
}

.sutemenyek:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182);
}

.tortak:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182);
}


a 
{
        text-decoration: none;
}

.frissreceptek
{  
        
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 20px; 
        text-transform: uppercase; 
        background: rgb(243, 238, 235); 
        padding: 6px 50px 8px 50px;
        margin-top: -72px;
        margin-left: 220px; 
        width: 36.5vw;
        border: solid 2px rgb(243, 238, 235);
        border-radius: 0.5rem;
        text-align: center;
    
       
}

 

.kedveltreceptek
{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 20px; 
        text-transform: uppercase; 
        background: rgb(243, 238, 235); 
        padding: 6px 50px 8px 50px;
        margin-top: 305px;
        margin-left: 220px; 
        width: 36.5vw;
        border: solid 2px rgb(243, 238, 235);
        border-radius: 0.5rem;
        text-align: center;
}



.foetel_oldal,
.levesek_oldal,
.salatak_oldal,
.sutemenyek_oldal,
.tortak_oldal
{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 20px; 
        text-transform: uppercase; 
        background: rgb(243, 238, 235); 
        padding: 6px 50px 8px 50px; 
        margin-top: -72px;
        margin-left: 220px; 
        width: 36.5vw;
        border: solid 2px rgb(243, 238, 235);
        border-radius: 0.5rem;
        text-align: center;
        
}

.csirketorta
{
        
        display: inline-block;
	margin-left: 13vw;
        margin-top: -200px ;
	padding: 65px 10px;
	width: 200px;
	border: solid 2px rgb(243, 238, 235);
	border-radius: 0.5rem;
	text-align: center;
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        
}

.csirketorta:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182) ;
        transition-duration: 1s;
}

.lasagne
{
        display: inline-block;
	margin-left: 1vw;
        margin-top: -200px ;
	padding: 65px 10px;
	width: 200px;
	border: solid 2px rgb(243, 238, 235);
	border-radius: 0.5rem;
	text-align: center;
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px; 
}

.lasagne:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182) ;
        transition-duration: 1s;
}



.meggyleves
{
        
        display: inline-block;
	margin-left: 13vw;
        margin-top: -200px ;
	padding: 65px 10px;
	width: 200px;
	border: solid 2px rgb(243, 238, 235);
	border-radius: 0.5rem;
	text-align: center;
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        
}

.meggyleves:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182) ;
        transition-duration: 1s;
}

.gulyasleves
{
        display: inline-block;
	margin-left: 1vw;
        margin-top: -200px ;
	padding: 65px 10px;
	width: 200px;
	border: solid 2px rgb(243, 238, 235);
	border-radius: 0.5rem;
	text-align: center;
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px; 
}

.gulyasleves:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182) ;
        transition-duration: 1s;
}


.kaszinotojas
{
        
        display: inline-block;
	margin-left: 13vw;
        margin-top: -200px ;
	padding: 65px 10px;
	width: 200px;
	border: solid 2px rgb(243, 238, 235);
	border-radius: 0.5rem;
	text-align: center;
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        
}

.kaszinotojas:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182) ;
        transition-duration: 1s;
}

.burgonyasalata
{
        display: inline-block;
	margin-left: 1vw;
        margin-top: -200px ;
	padding: 65px 10px;
	width: 200px;
	border: solid 2px rgb(243, 238, 235);
	border-radius: 0.5rem;
	text-align: center;
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px; 
}

.burgonyasalata:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182) ;
        transition-duration: 1s;
}



.zserbo
{
        
        display: inline-block;
	margin-left: 13vw;
        margin-top: -200px ;
	padding: 65px 10px;
	width: 200px;
	border: solid 2px rgb(243, 238, 235);
	border-radius: 0.5rem;
	text-align: center;
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        
}

.zserbo:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182) ;
        transition-duration: 1s;
}

.dios_lekvaros_pite
{
        display: inline-block;
	margin-left: 1vw;
        margin-top: -200px ;
	padding: 65px 10px;
	width: 200px;
	border: solid 2px rgb(243, 238, 235);
	border-radius: 0.5rem;
	text-align: center;
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px; 
}

.dios_lekvaros_pite:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182) ;
        transition-duration: 1s;
}


.rigo_jancsi_torta
{
        
        display: inline-block;
	margin-left: 13vw;
        margin-top: -200px ;
	padding: 65px 10px;
	width: 200px;
	border: solid 2px rgb(243, 238, 235);
	border-radius: 0.5rem;
	text-align: center;
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        
}

.rigo_jancsi_torta:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182) ;
        transition-duration: 1s;
}

.gyumolcsos_turotorta
{
        display: inline-block;
	margin-left: 1vw;
        margin-top: -200px ;
	padding: 65px 10px;
	width: 200px;
	border: solid 2px rgb(243, 238, 235);
	border-radius: 0.5rem;
	text-align: center;
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px; 
}

.gyumolcsos_turotorta:hover
{
        background: rgb(235, 225, 218);
        color:rgb(46, 117, 182) ;
        transition-duration: 1s;
}

.oldalsav_frissrecept
{
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase; 
        color: black;
        font-size: 20px; 
        margin: -10px 45px 30px 10px;
        margin-left: -15px;
        padding: 8px 1px 7px 1px;
        width: 196px ;
        background: rgb(243, 238, 235);
        border: solid 2px rgb(243, 238, 235);
        border-radius: 0.2rem;
        text-align: center;
        

}

.oldalsav_kedveltrecept
{
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase; 
        color: black;
        font-size: 20px; 
        margin: 30vw 45px 30px 10px;
        margin-left: -15px;
        padding: 8px 1px 7px 1px;
        width: 196px ;
        background: rgb(243, 238, 235);
        border: solid 2px rgb(243, 238, 235);
        border-radius: 0.2rem;
        text-align: center;
        

}